.meat_select{
    border: 0;
    background-color: transparent;
    margin:5px;
    padding:5px;
    width: 100%;
}

.hidden{
    display:none;
}

.max-width{
    min-width: 1200px;
    text-align: center;
}