<template id="appetizer-template">
    <div class="card" style="float:left; width:230px; padding:5px;">
        <img class="img-fluid card-img" id="menu-image" style="width:220px; margin: 0 auto;">
        <div class="card-body d-flex flex-column justify-content-between" style="min-height:10em;">
            <h4 class="card-title font-weight-bold"></h4>
            <h5 class="card-subtitle shop-item-price"></h5>
        </div>
        <footer class="card-footer">
            <form class="form-inline cart-form">
                <input class="form-control mr-2" type="number" name="quantity" min="1" value="1" style="max-width:80px;">
                <!-- hidden form fields to store product data -->
                <input type="hidden" name="name" value="">
                <input type="hidden" name="description" value="">
                <input type="hidden" name="productid" value="">
                <input type="hidden" name="price" value="">
                <input type="hidden" name="meatselection" value="">
                <button class="btn btn-primary cart-button" type="submit">Add to Cart</button>
            </form>
        </footer>
    </div>
    <style>
        .shop-item-price::before{ content: "$";}
    </style>

</template>

<script>
    
$('document').ready(function() {
    const URL = "http://ec2-3-14-6-238.us-east-2.compute.amazonaws.com:3000";
    //get data
    $.ajax({
        url: URL + '/api/menus/get/menuByType/1',
        type: 'GET',
        dataType: 'json'
    })
    .done((result) => {
        
        if( result.data ){
            
            //select the container in order.twig
            const container = document.querySelector('#appetizer-content');
            //select the template
            const template = document.querySelector('#appetizer-template');

            result.data.forEach(( item )=>{
                let id = item.id;
                let name = item.name;

                let imagesrc = "";
                // check if pictureName not null or not empty
                if (item.pictureName != null && item.pictureName != "")
                {
                    imagesrc = item.pictureName;
                } else {
                    imagesrc = "images/logo-image.gif";
                }
                let description = item.description;
                let price = item.price.toFixed(2);
                let meatchoice = (item.isSelectMeatChoice) ? true : false;
                let isavailable = (item.isAvailable) ? '' : 'disabled';

                //clone template
                let clone = document.importNode( template.content, true );
                
                //fill it with data
                clone.querySelector('.card-title').innerText = name;
                clone.querySelector('.card-img').src = imagesrc;
                clone.querySelector('[name="description"]').value = description;
                clone.querySelector('.shop-item-price').innerText = price;
                clone.querySelector('[name="productid"]').value = id;
                clone.querySelector('[name="name"]').value = name;
                clone.querySelector('[name="price"]').value = price;
                clone.querySelector('[name="meatselection"]').value = meatchoice;
                // if item is unavailable, disable the add to cart button
                if( !item.isAvailable ){
                    clone.querySelector('.cart-button').setAttribute('disabled', isavailable )
                }
                //append to container
                container.appendChild(clone);
            });
            // call the function in order.twig to activate the cart forms
            activateCartForms('#appetizer-content')
        }
    });

        // $.ajax({
        //     url: URL + "/api/menus/get/menuByType/1",
        //     type: "GET",
        //     success: function(result) {
        //         console.log(result.data);
        //         var temp="";
        //         // show product here. You can do the table but I will show only simple way.
        //         for (var i = 0; i < result.data.length; i++) {
                    
        //     temp += '<div class="card-deck" style="float:left; width:255px; padding:5px; height:300px;">'
        //             + '<div class="card">'



        //                  Get image from database


        //                 + '<img class="card-img-top" style="width:150px; margin: 0 auto;"; src="images/' + result.data[i].pictureName + '">'
        //                     + '<div class="card-body">'
        //                     + '<h5 class="card-title shop-item-name" style="font-weight:bold;">' + result.data[i].name + '</h5>'
        //                     + '<h5 class="card-title shop-item-id hidden" style="font-weight:bold;">' + result.data[i].id + '</h5>'
        //                     + '<h5 class="card-title shop-item-price hidden" style="font-weight:bold;">' + result.data[i].price + '</h5>'
        //                     + '<p class="card-text hidden">' + result.data[i].description + '</p> </div>'
        //                         + '<div class="card-footer">'
        //                             + '<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>'
        //                             + '</div> </div> </div>'
                    
        //             + '<div class="modal fade" id="' + result.data[i].id + '" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">'
        //             + '<div class="modal-dialog modal-dialog-centered" role="document">'
        //                 + '<div class="modal-content">'
        //                 + '<div class="modal-header">'
        //                     + '<h5 class="modal-title" style="font-weight:bold; id="exampleModalCenterTitle">' + result.data[i].name +'</h5>'
        //                     + '<button type="button" class="close" data-dismiss="modal" aria-label="Close">'
        //                     + '<span aria-hidden="true">&times;</span> </button>'
        //                 + '</div>'
        //                 + '<div class="modal-header">' + result.data[i].description + '</div>'
        //                 + '<div class="modal-body">Price: $' + result.data[i].price + '</div>'
        //                 + '<div class="modal-footer">'
        //                     + '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'
        //                     + '<div class="cart_button">'
        //                         +   '<h3 class="shop-item-name hidden">' + result.data[i].name + '</h3>'
        //                         +   '<h3 class="shop-item-id hidden">' + result.data[i].id + '</h3>'
        //                         +   '<h3 class="shop-item-price hidden">' + result.data[i].price + '</h3>'
        //                         +   '<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button> </div>'
        //                 +'</div> </div> </div> </div>';
        //         } 
        //         console.log(temp);
        //         $('#appetizer').html(temp);
        //     },
        //     error: function(error) {
        //         console.log('Error ${error}');
        //     }
        // })
    
});

{# $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').modal('focus')
  }); #}
</script>