<template id="cart-item-template">
  <div class="cart-item-row row mb-1">
    <div class="col-md-6" style="word-wrap:break-word;">
      <p class="name">
    </div>
    <div class="col-md-2">
      <input class="form-control bg-transparent border-0" name="price" type="text" readonly>
    </div>
    <div class="col-md-2">
      <input class="form-control" name="quantity" type="number" min="1">
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-primary">&times;</button>
    </div>
  </div>
</template>