<template id="meat-selection-template">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="choice" value="Vegetable and Tofu">
    <label class="form-check-label">
      Vegetable and Tofu <strong>$0</strong>
    </label>
  </div>
    
     
   <br>
  <input type="radio" name="choice" value="female"> 
    Chicken  
  <span> $1 </span>  <br>
  <input type="radio" name="choice" value="other"> 
    Beef  
  <span> $1 </span> <br>
  <input type="radio" name="choice" value="male">
    Pork  
  <span> $1 </span> <br>
  <input type="radio" name="choice" value="female"> 
    Crispy Pork Belly  
  <span> $3 </span> <br>
  <input type="radio" name="choice" value="other"> 
    Prawn 
  <span> $5 </span> <br>
  <input type="radio" name="choice" value="female"> 
    Seafood 
  <span> $5 </span> <br>
  <input type="radio" name="choice" value="other"> 
    Roasted Duck 
  <span> $5 </span> <br>
</template>