<template id="meat-selection-template">
  <div class="form-check w-100">
    <input  type="radio" name="choice" value="Vegetable and Tofu" id="veg" checked>
    <label class="form-check-label" for="veg">
      Vegetable and Tofu <strong>$0</strong>
    </label>
  </div>
  <div class="form-check">
    <input type="radio" name="choice" value="Chicken" id="chicken">
    <label class="form-check-label" for="chicken">
      Chicken <strong>$1</strong>
    </label>
  </div>
  <div class="form-check">
    <input type="radio" name="choice" value="Beef" id="beef">
    <label class="form-check-label" for="beef">
      Beef <strong>$1</strong>
    </label>
  </div>
  <div class="form-check">
    <input type="radio" name="choice" value="Pork" id="pork">
    <label class="form-check-label" for="pork">
      Pork <strong>$1</strong>
    </label>
  </div>
  <div class="form-check">
    <input type="radio" name="choice" value="Crispy Pork Belly" id="porkbelly">
    <label class="form-check-label" for="porkbelly">
      Crispy Pork Belly <strong>$3</strong>
    </label>
  </div>
  <div class="form-check">
    <input type="radio" name="choice" value="Prawn" id="prawn">
    <label class="form-check-label" for="prawn">
      Prawn <strong>$5</strong>
    </label>
  </div>
  <div class="form-check">
    <input type="radio" name="choice" value="Seafood" id="seafood">
    <label class="form-check-label" for="seafood">
      Seafood <strong>$5</strong>
    </label>
  </div>
  <div class="form-check">
    <input type="radio" name="choice" value="Roasted Duck" id="roastedduck">
    <label class="form-check-label" for="roastedduck">
      Roasted Duck <strong>$5</strong>
    </label>
  </div>
</template>