<div class="navbar-light bg-light">
    <a href="index.php"><img class="index-logo rounded mx-auto d-block" src="images/logo.jpg"></a>
</div>
<div class="navbar-light bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <div class="collapse navbar-collapse" id="main-nav">
            <nav class="nav nav-pills nav-fill">
                <a href="index.php" class="nav-item nav-link">Home</a>
                <a href="aboutus.php" class="nav-item nav-link">About Us</a>
                <a href="order.php" class="nav-item nav-link">Order</a>
                <a href="login.php" class="nav-item nav-link">Login</a>
            </nav>
            
        </div>
        
        
    </nav>

</div>
