<!doctype html>
<html>
    {% include 'partials/head.twig' %}
    <body>
    {% include 'partials/navigation.twig' %}
        <main class="container-fluid">
            <div class="container">
            {% include 'partials/carousel.twig' %}
            <h1>Products</h1>
            </div>
        </main>
    </body>
</html>

