<!doctype html>
<html>
    {% include 'partials/head.twig' %}
    <body>
    
        <main class="container-fluid">
            <div class="container">
            {% include 'order.twig' %}
            </div>
        </main>
    </body>
</html>

