<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/toolbar.css">
        <link rel="stylesheet" href="css/modal.css">
    </head>
{% include 'partials/head.twig' %}
    <body>
    {% include 'partials/navigation.twig' %}
        <div id="root" class="container">
            <div class="toolba text-center sticky-top bg-dark">
                <div class="filte-options justify-content">
                    <a href="#Appetizer" class="filte-item" data-group="action">Appetizer</a>
                    <a href="#Chef" class="filte-item" data-group="rpg">Chef Special</a>
                    <a href="#Salad" class="filte-item" data-group="adventure">Salad</a>
                    <a href="#Side" class="filte-item" data-group="simulation">Side Dish</a>
                    <a href="#Soup" class="filte-item" data-group="fighting">Soup</a>
                    <a href="#Drink" class="filte-item" data-group="shooter">Drink</a>
                    <a href="#Dessert" class="filte-item" data-group="shooter">Dessert</a>
                    <form class="form-inline my-2 my-lg-0 float-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                </div>
                
            </div>
            <div id="allmenu">
                <div class="row" id="Appetizer">
                    <h3> Appetizer </h3>
                    <div id="appetizer">
                        {% include 'partials/appetizer.twig' %}
                    </div>
                </div>
                
                <div class="row" id="Chef">
                    <h3> Chef Special </h3>
                    <div id="chef">
                        {% include 'partials/chef.twig' %}
                    </div>
                </div>

                <div class="row" id="Salad">
                    <h3> Salad </h3>
                    <div id="salad">
                        {% include 'partials/salad.twig' %}
                    </div>
                </div>

                <div class="row" id="Side">
                    <h3> Side Dish </h3>
                    <div id="sideDish">
                        {% include 'partials/sidedish.twig' %}
                    </div>
                </div>

                <div class="row" id="Soup">
                    <h3 class="max-width"> Soup </h3>
                    <div id="soup">
                        {% include 'partials/soup.twig' %}
                    </div>
                </div>

                <div class="row" id="Drink">
                    <h3> Drink </h3>
                    <div id="drink">
                        {% include 'partials/drink.twig' %}
                    </div>
                </div>

                <div class="row" id="Dessert">
                    <h3  class="max-width"> Dessert </h3>
                    <div id="dessert">
                        {% include 'partials/dessert.twig' %}
                    </div>
                </div>

            </div>

            <script src="script/modal.js"></script>
        </div>
    </body>

</html>