<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/toolbar.css">
    </head>
{% include 'partials/head.twig' %}
    <body>
    {% include 'partials/navigation.twig' %}
        <div id="root" class="container">
            <div class="toolba text-center sticky-top bg-dark">
                <div class="filte-options justify-content">
                    <a href="#appetizer" class="filte-item" data-group="action">Appetizer</a>
                    <a href="#chef" class="filte-item" data-group="rpg">Chef Special</a>
                    <a href="#salad" class="filte-item" data-group="adventure">Salad</a>
                    <a href="#sideDish" class="filte-item" data-group="simulation">Side Dish</a>
                    <a href="#soup" class="filte-item" data-group="fighting">Soup</a>
                    <a href="#" class="filte-item" data-group="shooter">Drink</a>
                    <a href="#" class="filte-item" data-group="shooter">Dessert</a>
                </div>
            </div>
            <div id="allmenu">
                <div class="row">
                    <h2> Appetizer </h2>
                    <div id="appetizer">
                        {% include 'partials/appetizer.twig' %}
                    </div>
                </div>
                
                <div class="row">
                    <h2> Chef Special </h2>
                    <div id="chef">
                        {% include 'partials/chef.twig' %}
                    </div>
                </div>

                <div class="row">
                    <h2> Salad </h2>
                    <div id="salad">
                        {% include 'partials/salad.twig' %}
                    </div>
                </div>

                <div class="row">
                    <h2> Side Dish </h2>
                    <div id="sideDish">
                        {% include 'partials/sidedish.twig' %}
                    </div>
                </div>

                <div class="row">
                    <h2> Soup </h2>
                    <div id="soup">
                        {% include 'partials/soup.twig' %}
                    </div>
                </div>

                <div class="row">
                    <h2> Drink </h2>
                    <div id="drink">
                        {% include 'partials/drink.twig' %}
                    </div>
                </div>

                <div class="row">
                    <h2> Dessert </h2>
                    <div id="dessert">
                        {% include 'partials/dessert.twig' %}
                    </div>
                </div>
            </div>
            <script src="script/modal.js"></script>
        </div>
    </body>

</html>