<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.twig' %}
    <body>
    {% include 'partials/navigation.twig' %}
        <div id="root" class="container">
            <script src="script/scripts.js"></script>
        </div>
    </body>

</html>