<!doctype html>
<html>
    {% include 'partials/head.twig' %}
    <head>
        <link rel="stylesheet" href="css/shoppingcart.css">
    </head>
    <body>
    {% include 'partials/navigation.twig' %}
        <main class="container-fluid">
            <section class="section">
                <h2 class="text-center">Cart</h2>
                <div class="cart"></div>
                <div class="continue">
                    <a href="payment.php"><button class="btn btn--primary">Continue to shipping details</button></a>
                </div>
            </section>

            <script src="script/shopCart.js"></script>
        </main>
    </body>
</html>

